Repository bcgov/nr-spar-backend, pull requests merged in 2022-12, with the labels that each got.

#6 refactor: using immutability wherever it's possible
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  src/main/java/ca/bc/gov/backendstartapi/config/CorsConfig.java
  src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfig.java
  src/main/java/ca/bc/gov/backendstartapi/dto/ExampleDto.java
  src/main/java/ca/bc/gov/backendstartapi/dto/UserDto.java
  src/main/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpoint.java
  src/main/java/ca/bc/gov/backendstartapi/endpoint/RestExceptionEndpoint.java
  src/main/java/ca/bc/gov/backendstartapi/exception/EmptyObjectNotSupportedException.java
  src/main/java/ca/bc/gov/backendstartapi/repository/UserRepository.java
  src/main/java/ca/bc/gov/backendstartapi/response/ExceptionResponse.java
  src/main/java/ca/bc/gov/backendstartapi/response/FieldExceptionResponse.java
  src/main/java/ca/bc/gov/backendstartapi/response/FieldIssue.java
  src/main/java/ca/bc/gov/backendstartapi/response/ValidationExceptionResponse.java
  src/main/java/ca/bc/gov/backendstartapi/util/Empty.java
  src/main/java/ca/bc/gov/backendstartapi/util/ObjectUtil.java
  src/main/java/ca/bc/gov/backendstartapi/vo/CheckVo.java
  src/main/resources/application.properties
  src/test/java/ca/bc/gov/backendstartapi/dto/ExampleDtoTest.java
  src/test/java/ca/bc/gov/backendstartapi/dto/UserDtoTest.java
  src/test/java/ca/bc/gov/backendstartapi/endpoint/UserEndpointTest.java
  src/test/java/ca/bc/gov/backendstartapi/repository/UserRepositoryTest.java
  src/test/java/ca/bc/gov/backendstartapi/util/ObjectUtilTest.java
Labels: coverage, source

#8 fix(build): remove unused env vars from prod deployment
  .github/workflows/merge-main.yml
  README.md
  docker-compose.yml
Labels: fix

#12 feat: add postgres database deploy workflow
  .github/openshift/deploy.backend-with-database.yml
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
  .github/workflows/pr-open.yml
  README.md
  database/Dockerfile
  docker-compose.yml
  pom.xml
  src/main/resources/application.properties
Labels: feature
