Repository bcgov/nr-spar-backend, pull requests merged in 2023-03, with the labels that each got.

#71 Drop pvc size from 256 to 128 Mi in DEV
  .github/workflows/pr-open.yml
Labels: ci

#70 fix: docker compose
  CONTRIBUTING.md
  README.md
  database/docker-compose.yml
  docker-compose.yml
Labels: fix

#72 feat: add new activites and remove unused ones
  .github/badges/jacoco.svg
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ActivityEnum.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/FavouriteActivityEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/FavouriteActivityRepositoryTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/FavouriteActivityServiceTest.java
  backend/src/test/resources/sql_scripts/FavoriteActivityRepositoryTest_favorite.sql
Labels: feature

#77 feat: add check for unused imports
  backend/.mvn/google_checks.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/GeneticClassEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/LatitudeCodeEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/LongitudeCodeEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/UserNotFoundException.java
  backend/src/test/java/ca/bc/gov/backendstartapi/security/UserAuthenticationHelperTest.java
Labels: feature

#73 ci(deployment): reduce probes' initial delays to 150 seconds
  backend/openshift.deploy.yml
Labels: ci

#60 feat: create seedlot entities
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/embeddable/AuditInformation.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/Seedlot.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/SeedlotCollectionMethod.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/SeedlotOrchard.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/SeedlotOwnerQuantity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/idclass/SeedlotCollectionMethodId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/idclass/SeedlotOrchardId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/idclass/SeedlotOwnerQuantityId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotCollectionMethodRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotOrchardRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotOwnerQuantityRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotRepository.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V4__create_seedlot.sql
  backend/src/main/resources/db/migration/V5__create_seedlot_collection_method.sql
  backend/src/main/resources/db/migration/V6__create_seedlot_owner_quantity.sql
  backend/src/main/resources/db/migration/V7__create_seedlot_orchard.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotCollectionMethodJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotEntityJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotOrchardJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotOwnerQuantityJpaTest.java
  backend/src/test/resources/application.properties
  backend/src/test/resources/sql_scripts/FavoriteActivityRepositoryTest_favorite.sql
Labels: feature

#76 feat: forest client endpoint
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientStatusEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/ForestClientApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/ForestClientService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/ForestClientServiceTest.java
  backend/src/test/resources/application.properties
  docker-compose.yml
Labels: feature

#87 feat: create smp mix entities
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SeedlotParentTreeSmpMix.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SmpMix.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SmpMixGeneticQuality.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/idclass/SeedlotParentTreeSmpMixId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/idclass/SmpMixGeneticQualityId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/idclass/SmpMixId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotParentTreeSmpMixRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SmpMixGeneticQualityRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SmpMixRepository.java
  backend/src/main/resources/db/migration/V11__create_smp_mix.sql
  backend/src/main/resources/db/migration/V12__create_smp_mix_gen_qlty.sql
  backend/src/main/resources/db/migration/V13__create_seedlot_parent_tree_smp_mix.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/jpa/SeedlotParentTreeSmpMixJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/jpa/SmpMixGeneticQualityJpaTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/jpa/SmpMixJpaTest.java
Labels: feature
