Repository bcgov/nr-spar-backend, pull requests merged in 2023-01, with the labels that each got.

#13 feat: database versioning with Flyway
  CONTRIBUTING.md
  README.md
  pom.xml
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: feature

#16 ci(dependabot): do not run OpenShift-related jobs
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: ci

#15 CI: align repo structure with QuickStart
  .github/openshift/networkPolicies.yml
  .github/workflows/ci.yml
  .github/workflows/pr-open.yml
  Dockerfile
  README.md
  backend/.dockerignore
  backend/.gitignore
  backend/.mvn/google_checks.xml
  backend/.mvn/javadoc_stylesheet.css
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/dockerfile-entrypoint.sh
  backend/mvnw
  backend/mvnw.cmd
  backend/openshift.deploy.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/BackendStartApiApplication.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/CorsConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/UserDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/RestExceptionEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/UserEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/UserExistsException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/UserNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/UserRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/response/BaseResponse.java
  backend/src/main/java/ca/bc/gov/backendstartapi/response/ExceptionResponse.java
  backend/src/main/java/ca/bc/gov/backendstartapi/response/FieldIssue.java
  backend/src/main/java/ca/bc/gov/backendstartapi/response/ValidationExceptionResponse.java
  backend/src/main/java/ca/bc/gov/backendstartapi/vo/CheckVo.java
  backend/src/main/resources/application.properties
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/UserEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/UserRepositoryTest.java
  backend/src/test/resources/application.properties
  backend/test/postman/README.md
  backend/test/postman/starting-api.postman_collection.json
  backend/test/postman/starting-api.postman_environment.json
  common/openshift.init.yml
  database/openshift.deploy.yml
  docker-compose.yml
Labels: enhancement

#19 feat: Create dashboard tables
  .github/workflows/pr-open.yml
  CONTRIBUTING.md
  README.md
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V1__create_schema.sql
  backend/src/main/resources/db/migration/V2__create_user.sql
  backend/src/main/resources/db/migration/V3__create_favorite_activity.sql
  database/docker-compose.yml
Labels: feature

#20 ci: fix merge main workflow project directory
  .github/workflows/merge-main.yml
Labels: ci

#21 ci: add project pom xml file to mvn version job
  .github/workflows/merge-main.yml
Labels: ci

#22 feat: Create Favorite Activities endpoint
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  .github/workflows/pr-open.yml
  backend/.gitignore
  backend/nr-spar-backend.iml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/FavoriteActivityCreateDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/FavoriteActivityUpdateDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/FavoriteActivityEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/RestExceptionEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/UserEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/FavoriteActivityEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/UserEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ActivityEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/ActivityNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/FavoriteActivityExistsToUser.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/NotRemovableEntityException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/UserExistsException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/UserNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/FavoriteActivityRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/UserRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/UserAuthenticationHelper.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/UserInfo.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/FavoriteActivityService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/UserService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/FavoriteActivityEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/UserEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/enums/ActivityEnumTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/FavoriteActivityRepositoryTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/UserRepositoryTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/security/UserAuthenticationHelperTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/security/UserInfoTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/FavoriteActivityServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/UserServiceTest.java
  backend/src/test/resources/application.properties
  backend/src/test/resources/sql_scripts/FavoriteActivityRepositoryTest_favorite.sql
  backend/src/test/resources/sql_scripts/FavoriteActivityRepositoryTest_user.sql
Labels: feature

#25 Trigger Dependabot PR
  .github/dependabot.yml
  backend/pom.xml
Labels: automation

#24 feat: Remove check endpoint
  .github/badges/jacoco.svg
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/vo/CheckVo.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpointTest.java
  backend/test/postman/starting-api.postman_collection.json
  docker-compose.yml
Labels: feature

#28 ci(dependabot): update Dependabot configuration to match CI workflow
  .github/dependabot.yml
Labels: ci, automation

#36 ci: fix test and prod deployments and add test files
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
Labels: ci

#37 ci: fix test and prod build versions from right location
  .github/workflows/merge-main.yml
Labels: ci

#39 ci: fix deployment to prod
  .github/workflows/merge-main.yml
Labels: ci

#42 ci: fix image promotion target and repository
  .github/workflows/merge-main.yml
Labels: ci

#43 ci: fix test tag deploy to be found when deploying to prod
  .github/workflows/merge-main.yml
Labels: ci

#44 ci: fix extra parameters from deployments
  .github/workflows/merge-main.yml
Labels: ci

#45 ci: fix promotion tag job to production
  .github/workflows/merge-main.yml
Labels: ci

#46 ci(release): use version tags instead of commit hashes
  .github/workflows/release.yml
  backend/nr-spar-backend.iml
Labels: ci
