Repository bcgov/nr-spar-backend, pull requests merged in 2023-02, with the labels that each got.

#50 ci: remove release workflow that is already present on merge-main
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

#51 ci(deployment): use more processing resources
  backend/openshift.deploy.yml
Labels: ci

#52 fix: add authorization swagger component
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
Labels: fix

#53 feat: endpoints for seedlot status
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/DescribedEnumDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/DescribedEnumEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/FavouriteActivityEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotStatusEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/DescribedEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/SeedlotStatusEnum.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/DescribedEnumEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotStatusEndpointTest.java
Labels: feature

#54 feat: add genetic class, cone collection method, lat and long enums
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ConeCollectionMethodEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/GeneticClassEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/LatitudeCodeEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/LongitudeCodeEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ConeCollectionMethodEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/GeneticClassEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/LatitudeCodeEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/LongitudeCodeEnum.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ConeCollectionMethodEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/DescribedEnumEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/GeneticClassEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/LatitudeCodeEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/LongitudeCodeEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/enums/ActivityEnumTest.java
Labels: feature

#59 feat: create genetic worth, male-female methodology, seedlot source and payment method
  .github/badges/jacoco.svg
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/GeneticWorthEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/MaleFemaleMethodologyEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/PaymentMethodEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotSourceEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/GeneticWorthEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/MaleFemaleMethodologyEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/PaymentMethodEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/SeedlotSourceEnum.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/GeneticWorthEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/MaleFemaleMethodologyEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/PaymentMethodEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotSourceEndpointTest.java
Labels: feature
